/* Estilos modulo cargar video */

.titulo-cargar {
    font-family: "sofiapro-bold", PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
}

.subtitulo-cargar {
    font-family: "proxima-regular", PingFangSC, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #8a8b91;
    margin-top: 2px;
}


/* Estilos para input type radio */

.radioInput {
    font-family: "proxima-regular", PingFangSC, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: block;
    line-height: 20px;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer
}


/* Estilos input type file */

input[type="file"]#file-video {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}